
@{
    ViewBag.Title = "Edit";
}
@model BaylorSample.ViewModels.EditCustomerModel

@using (Html.BeginForm())
{
<div style="margin-top:10px">
    Company Name: @Html.TextBoxFor(x => x.CompanyName)
    @Html.ValidationMessageFor(x => x.CompanyName)
</div>
<div>
    <input type="submit" value="Save" />
</div>
}



